<!doctype html>
<html lang="zh">
<head>
  <meta charset="utf-8"/>
  <title>玩转Graphviz dot绘图</title>
  <meta name="author" content="guiquanz"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="/js/lightbox/lightbox.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/toc.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/syntax.css">
  <link rel="alternate" type="application/atom+xml" title="句读" href="/atom.xml"/>
</head>
<body onload="prettyPrint()">
<nav class="header">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="http://guiquanz.me" style="padding-top: 2px; padding-bottom: 0px;">
      <img class="blog" src="/img/logo.jpg" height="20" width="60"></a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/archive"><i class="icon-th-large icon-white"></i>存档</a></li>
          <li><a href="/book_reviews"><i class="icon-book icon-white"></i>书品</a></li>
          <li><a href="/license"><i class="icon-fire icon-white"></i>版权声明</a></li>
          <li><a href="/about"><i class="icon-plus-sign icon-white"></i>关于我</a></li>
          <li><a href="/open_source.html"><i class="icon-leaf icon-white"></i>GitHub</a></li>
          <li><a href="/p/index.html"><i class="icon-plane icon-white"></i>一字码</a></li>
          <li><a href="https://me.alipay.com/guiquanz"><i class="icon-thumbs-up icon-white"></i>贡献一杯咖啡</a></li>
        </ul>
        <form class="navbar-search" method="GET" action="https://www.google.com/search">
          <input type="text" name="q" class="search-query" placeholder=" 搜索...">
          <input type="hidden" name="as_sitesearch" value="http://guiquanz.me">
        </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>
</nav>
<div class="mycontainer">
<div class="wrapper">
<article>
<h1>
	<a href="http://guiquanz.me/2014/03/15/graphviz-dot-in-all.html">玩转Graphviz dot绘图</a> 
	<small class="pull-right">Mar 15, 2014</small>
</h1>

<a  class="pull-right" href="http://github.com/guiquanz/guiquanz.github.com/edit/master/_posts/2014-03-15-graphviz-dot-in-all.md">[在线编辑]</a>

<div id="toc-container">
   <table class="toc" id="toc">
      <tbody>
         <tr>
            <td>
               <div id="toctitle">
                  <h3>目录</h3>
               </div>
               <ul>
                  <li class="toc_level-1 toc_section-1">
                     <a href="#tocAnchor-1-1"><span class="tocnumber">1. </span> <span class="toctext">graphviz</span></a>
                  </li>
                  <li class="toc_level-1 toc_section-2">
                     <a href="#tocAnchor-1-2"><span class="tocnumber">2. </span> <span class="toctext">牛刀小试</span></a>
                  </li>
                  <li class="toc_level-1 toc_section-3">
                     <a href="#tocAnchor-1-3"><span class="tocnumber">3. </span> <span class="toctext">统一定制顶点和边的属性</span></a>
                     <ul>
                        <li class="toc_level-2 toc_section-4">
                           <a href="#tocAnchor-1-3-1"><span class="tocnumber">3.1. </span> <span class="toctext">自由定制元素的属性</span></a>
                        </li>
                        <li class="toc_level-2 toc_section-5">
                           <a href="#tocAnchor-1-3-2"><span class="tocnumber">3.2. </span> <span class="toctext">绘制子图</span></a>
                        </li>
                     </ul>
                  </li>
                  <li class="toc_level-1 toc_section-6">
                     <a href="#tocAnchor-1-6"><span class="tocnumber">4. </span> <span class="toctext">扩展阅读</span></a>
                  </li>
                  <li class="toc_level-1 toc_section-7">
                     <a href="#tocAnchor-1-7"><span class="tocnumber">5. </span> <span class="toctext">祝大家玩的开心</span></a>
                  </li>
                  <li class="toc_level-1 toc_section-8">
                     <a href="#tocAnchor-1-8"><span class="tocnumber">6. </span> <span class="toctext">编程之道，就在[编程之美]</span></a>
                  </li>
               </ul>
            </td>
         </tr>
      </tbody>
   </table>
</div><hr /><h2 id="tocAnchor-1-1">graphviz</h2>

<p><a href="http://www.graphviz.org/">graphviz</a>是一个非常棒的工具集，用于基于特殊文本数据的可视化，出自AT&amp;T实验室。graphviz，包括了dot（有向图）、neato（spring-model图）、twopi（径向布局图）、circo（圆环布局）和fpd（无向图）。其中dot是默认的布局工具，也是应用最广泛的一个。有很多工具可以完成graphviz所提供的功能，或者可能效果更好，不过作为<code>geek</code>，我还是习惯于用最简单的方式处理工作。本文中，将介绍dot的基本用法，以及如何通过dot完成日常绘图需求。</p>

<p>需要说明的是，dot是一个DSL工具（画图语言），所以我们需要通过编写代码的方式来画图。</p>

<p>graphviz,由图、顶点和边三个元素组成。每个元素都有自己的属性，比如，形状，颜色、字体、大小，样式等等，这一切都可以在编写脚步的时候，进行设置。dot脚本的编写流程，如下：</p>

<p>1.定义一个<code>图</code>，并向图中添加<code>顶点</code>和<code>边</code></p>

<p>2.设置图、顶点和边的属性（如，字体、样式、颜色等）</p>

<p>3.通过命令行工具引擎dot，绘制并导出脚步中定义的图</p>

<h2 id="tocAnchor-1-2">牛刀小试</h2>

<p>现在我们就来绘制一张最简单的图：</p>

<p>1.编辑以下内容，到helloword.gv文件中：</p>

<pre>
   <code class="graphviz">
digraph helloworld {

h;
e;
l;
l;
o;
w;
o;
r;
l;
d;

h -&gt; e -&gt; l -&gt; l -&gt; o -&gt; w -&gt; o -&gt; r -&gt; l -&gt; d;

}
</code>
</pre>

<p>2.通过dot引擎绘图</p>

<pre>
   <code class="bash">
dot -Tpng helloworld.gv -o helloworld.png
</code>
</pre>

<p>3.查看绘图效果(够漂亮吧)</p>

<p>
   <img src="/img/article/graphviz/helloworld.png" alt="helloworld.png" />
</p>

<p>其实，整个操作流程都非常简单，关键部分就是脚本的编写。我们就是按照"hello world"的字符顺序，画了一张简单的<code>有向图</code>。<code>图</code>（针对有向图的关键字是<code>digraph</code>）就是整个<code>{ }</code>中定义的对象内容，<code>顶点</code>(关键字为<code>node</code>，默认省略)显示的是<code>椭圆</code>(重复的顶点会被归并掉)，<code>边</code>（关键字是<code>edge</code>,也就是图中的<code>连线</code>符号），是每个顶点之间的连线。最后，箭头符号就表示方向。每个元素都是用默认的属性值，都是默认的黑色。表示顶点的圆圈中显示的文本，就是顶点的名称。graphviz图中的每个元素的属性都是可以显性的进行设置，下文中会进一步说明。另外，dot还支持pdf、svg等格式的输出，只需要通过<code>-T</code>参数指定即可，此处不再赘述。</p>

<p><strong>注意</strong>： 脚本文件中每一行由<code>换行符</code>或<code>;</code>符号分割。可以使用简单句和复合句。如<code>a-&gt;b-&gt;c</code>等价于<code>a-&gt;b; b-&gt;c</code>。元素之间的空格符号是可选的，没有强制要求。</p>

<h2 id="tocAnchor-1-3">统一定制顶点和边的属性</h2>

<p>现在我们通过编辑脚本，将顶点设置为长方形，将边定义为虚线。在脚本中增加，如下的内容：</p>

<pre>
   <code class="graphviz">
node [shape="record"];
edge [style="dashed"];
</code>
</pre>

<p>将编辑后的脚本，保存为helloworld2.gv。具体内容，如下：</p>

<pre>
   <code class="graphviz">
digraph helloworld {

node [shape="record"]
edge [style="dashed"]

h;
e;
l;
l;
o;
w;
o;
r;
l;
d;

h -&gt; e -&gt; l -&gt; l -&gt; o -&gt; w -&gt; o -&gt; r -&gt; l -&gt; d;

}
</code>
</pre>

<p>然后，重新生成图形文件。其效果，如下：</p>

<p>
   <img src="/img/article/graphviz/helloworld2.png" alt="helloworld2.png" />
</p>

<h3 id="tocAnchor-1-3-1">自由定制元素的属性</h3>

<p>我们可以根据实际需要，挨个定制不同元素的属性。如，我们修改<code>l</code>顶点的属性为<code>填充</code>样式，边框颜色为<code>红色</code>,填充色为<code>绿色</code>。
而<code>o</code>顶点的属性刚好和<code>l</code>相反（都为填充样式之外）；同时，将h到o上的所有边的设置为<code>蓝色</code>。将文件保存为helloworld3.gv，其具体内容，如下：</p>

<pre>
   <code class="graphviz">
digraph helloworld {

node [shape="record"]
edge [style="dashed"]

h;
e;
l [style="filled", color="red", fillcolor="green"];
l;
o;
w;
o [style="filled", color="green", fillcolor="red"];
r;
l;
d;

h -&gt; e -&gt; l -&gt; l -&gt; o [color="blue"];
o -&gt; w -&gt; o -&gt; r -&gt; l -&gt; d;

}
</code>
</pre>

<p>然后，重新生成图形文件。其效果，如下：</p>

<p>
   <img src="/img/article/graphviz/helloworld3.png" alt="helloworld3.png" />
</p>

<p><strong>注意</strong>： 可以自定义顶点和边的属性，形式为在顶点和边的定义之后加上一个由<code>方括号括</code>起来的<code>key-value列表</code>，每个key-value对由<code>逗号</code>隔开。</p>

<h3 id="tocAnchor-1-3-2">绘制子图</h3>

<p>graphviz支持子图的绘制。子图的关键子是<code>subgraph</code>。子图的名称，需要以关键字<code>cluster</code>开头，否则graphviz将无法识别子图。我尝试将<code>world</code>部分作为子图来绘制。将文件保存为helloworld4.gv具体内容，如下：（用label属性设置标签，bgcolor设置子图背景颜色）\</p>

<pre>
   <code class="graphviz">
digraph helloworld {

node [shape="record"]
edge [style="dashed"]

h;
e;
l [style="filled", color="red", fillcolor="green"];
l;
o;
    subgraph cluster_world {
        label="world";
        bgcolor="blue";

        w;
        o [style="filled", color="green", fillcolor="red"];
        r;
        l;
        d;
    }

h -&gt; e -&gt; l -&gt; l -&gt; o [color="blue"];
o -&gt; w -&gt; o -&gt; r -&gt; l -&gt; d;

}
</code>
</pre>

<p>然后，重新生成图形文件。其效果，如下：</p>

<pre>
   <code class="bash">
dot -Tpng finite_state_machine.gv -o finite_state_machine.png
</code>
</pre>

<p>
   <img src="/img/article/graphviz/helloworld4.png" alt="helloworld4.png" />
</p>

<h2 id="tocAnchor-1-6">扩展阅读</h2>

<ul>
<li><a href="http://guiquanz.me/2013/01/21/draw-finite-state-machine-by-graphviz/">巧用Graphviz绘制状态机图</a></li>
<li><a href="http://guiquanz.me/2012/10/15/linux_c_call_trace/">巧用Graphviz和pvtrace等工具可视化C函数调用</a></li>
<li><a href="http://martin.elwin.com/blog/2008/05/uml-use-case-diagrams-graphviz/">UML Use Case Diagrams &amp; Graphviz</a></li>
<li><a href="http://icodeit.org/2012/01/%E4%BD%BF%E7%94%A8graphviz%E7%BB%98%E5%88%B6%E6%B5%81%E7%A8%8B%E5%9B%BE/">使用graphviz绘制流程图</a></li>
<li><a href="http://www.ibm.com/developerworks/cn/aix/library/au-aix-graphviz/">使用 Graphviz 生成自动化系统图</a></li>
<li><a href="http://www.graphviz.org/">Graphviz - Graph Visualization Software</a></li>
<li><a href="http://www.ffnn.nl/pages/articles/media/uml-diagrams-using-graphviz-dot.php">UML Diagrams Using Graphviz Dot</a></li>
<li><a href="http://www.graphviz.org/pdf/dotguide.pdf">Drawing graphs with dot</a></li>
<li><a href="http://staruml.io/">staruml</a></li>
<li><a href="http://stackoverflow.com/questions/2271704/family-tree-layout-with-dot-graphviz">Family tree layout with Dot/GraphViz</a></li>
<li><a href="http://stackoverflow.com/questions/10902745/enforcing-horizontal-node-ordering-in-a-dot-tree">Enforcing horizontal node ordering in a .dot tree</a></li>
<li><a href="http://www.graphviz.org/content/generate-directory-tree-dot">Generate a directory tree with dot</a></li>
<li><a href="http://eli.thegreenplace.net/2009/11/23/visualizing-binary-trees-with-graphviz">Visualizing binary trees with Graphviz</a></li>
<li><a href="http://pythonhosted.org/ete2/tutorial/tutorial_drawing.html">The Programmable Tree Drawing Engine</a></li>
<li><a href="http://caia.swin.edu.au/reports/050204A/CAIA-TR-050204A.pdf">Netsniff - Design and Implementation Concepts</a></li>
<li><a href="http://netdude.sourceforge.net/doco/netdude-freenix2004/">Design and Implementation of Netdude, a Framework for Packet Trace Manipulation</a></li>
<li><a href="http://ysangkok.github.io/js-clrs-btree/btree.html">Intermediate states of the B-Tree</a></li>
</ul>


<h2 id="tocAnchor-1-7">祝大家玩的开心</h2>

<h2 id="tocAnchor-1-8">编程之道，就在[编程之美]</h2>

<p>
   <img src="/img/weixin_qr.jpg" alt="编程之美" />
</p>


</article>

<div>

<br/>
  标签： 


	<a class="label" href="/tag/#graphviz">graphviz</a>

	<a class="label" href="/tag/#dot">dot</a>
</div>
<hr/>
<ul class="pager">
	
		<li class="previous">
		<a href="/2014/03/15/Requests-The-Definative-Guide.html">&larr; Requests权威指南</a>
		</li>
	
	
		<li class="next">
		<a href="/2014/03/15/nodejs-web-frameworks.html" class="pull-right">nodejs web框架集萃 &rarr;</a>
		</li>
	
</ul>
<hr/>
<!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1675928"></script>
<!-- UJian Button END -->
<hr/>
<p align="center" style="background-color: #71d051;padding: 5px;color: white;font-weight: bold;border: solid 2px black;text-shadow: 0px 0px 3px black;">请访问<a style="color: #FFE249;" target="_blank" href="/404.html">本站404页面</a>，帮助妈妈找寻失散的宝贝！</p>
<hr/>
<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"guiquanz"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->


</div>
<footer>
<div class="mycontainer">
  <p><small>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>,
  <a href="http://getbootstrap.com/2.3.2/">Bootstrap</a> and
  <a href="http://www.github.com/guiquanz/">GitHub</a>
| Theme by <a href="/">GuiQuanZ</a>
| <span class="label label-success">2017-03-28 23:05:05</span>
  </small></p>
</div>
</footer>
<!-- for faster loading -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lightbox/lightbox.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<script type="text/javascript" src="/js/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="/js/bootstrap-button.js"></script>
<script type="text/javascript" src="/js/bootstrap-collapse.js"></script>
<script type="text/javascript" src="/js/bootstrap-carousel.js"></script>
<script type="text/javascript" src="/js/jquery.githubRepoWidget.js"></script>
<script type="text/javascript" src="http://lurongkai.github.com/anti-baidu/js/loader.min.js"></script>
<!--
<script type="text/javascript" src="/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="/js/bootstrap-alert.js"></script>
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-scrollspy.js"></script>
<script type="text/javascript" src="/js/bootstrap-tab.js"></script>
<script type="text/javascript" src="/js/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="/js/bootstrap-popover.js"></script>
<script type="text/javascript" src="/js/bootstrap-typeahead.js"></script>
<script type="text/javascript" src="/js/bootstrap-affix.js"></script>
-->

<script>
  var _gaq = [['_setAccount', 'UA-12120506-1'], ['_trackPageview']];
  (function(d, t) {
    var g = d.createElement(t),
    s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
  })(document, 'script');
</script>
</body>
</html>

